// Variables start

$black-color:#131313;
$text-color:#778CEB;
$red-color:#ED145B;
$grey-color:#4F4F4F;
$white-color:#fff;
$orange-color:#FFB27D;
$green-color:#8DC63F;
$main-font: 'Montserrat',sans-serif;

%flex-between{
  display: flex;
  align-items: center;
  
}

// Variables end